In [144]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [145]:
# import necessary libraries at once

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [231]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [255]:
rank=[]
name=[]
artist=[]
date=[]
views=[]
for i in range(1,31):
    try:
        for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[1]".format(k)):
            rank.append(i.text)
    except NoSuchAttributeException as e:
        rank.append('--')
        
    
    try:
        for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]".format(k)):
            name.append(i.text)
    except NoSuchAttributeException as e:
        name.append('--')
        
        
    try:
        for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]".format(k)):
            artist.append(i.text)
    except NoSuchAttributeException as e:
        artist.append('--')
    try:
        for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]".format(k)):
            views.append(i.text)
    except NoSuchAttributeException as e:
        views.append('--')
    try:
        for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[5]".format(k)):
            date.append(i.text)
    except NoSuchAttributeException as e:
        date.append('--')

In [256]:
print(len(rank))
print(len(name))
print(len(artist))
print(len(date))
print(len(views))

900
900
900
900
900

In [258]:
df=pd.DataFrame({'Rank':rank[0:30],'Name':name[0:30],'Artist':artist[0:30],'Upload date':date[0:30],'Views':views[0:30]})
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

In [259]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [260]:
driver = webdriver.Chrome()

In [261]:
url='https://www.bcci.tv'
driver.get(url)

In [262]:
search=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[1]/ul/div[1]/a[2]")
search.click()

In [263]:
Team=[]
Date_Time =[]
Ground=[]
Test_ODI=[]

In [314]:
NAME=[]
name_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/h5')

for i in name_tag:
    ntitle=i.text
    NAME.append(ntitle)
    
NAME

['ENGLAND A WOMENS TOUR OF INDIA T20 SERIES',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ENGLAND A WOMENS TOUR OF INDIA T20 SERIES',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ENGLAND WOMEN TOUR OF INDIA 2023-24',
 'ENGLAND WOMEN TOUR OF INDIA 2023-24',
 'ENGLAND WOMEN TOUR OF INDIA 2023-24',
 'INDIA TOUR OF SOUTH AFRICA 2023-24',
 'INDIA TOUR OF SOUTH AFRICA 2023-24']

In [366]:
PLACE=[]
place_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]/span[1]')
for i in place_tag:
    ptitle=i.text
    PLACE.append(ptitle)
    
PLACE

['Wankhede Stadium,',
 'Shaheed Veer Narayan Singh International Cricket Stadium,',
 'Wankhede Stadium,',
 'M Chinnaswamy Stadium,',
 'Wankhede Stadium,',
 'Wankhede Stadium,',
 'Wankhede Stadium,',
 'Kingsmead,',
 "St George's Park,"]

In [367]:
# Scrape All Date tag

DATE=[]
date_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[1]')
for i in date_tag:
    date=i.text
    DATE.append(date)
DATE

['1 DECEMBER, 2023',
 '1 DECEMBER, 2023',
 '3 DECEMBER, 2023',
 '3 DECEMBER, 2023',
 '6 DECEMBER, 2023',
 '9 DECEMBER, 2023',
 '10 DECEMBER, 2023',
 '10 DECEMBER, 2023',
 '12 DECEMBER, 2023']

In [368]:
# Scrape All Time tag

TIME=[]
time_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[2]')
for i in time_tag:
    timetag=i.text
    TIME.append(timetag)
TIME

['1:30 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '9:30 PM IST',
 '9:30 PM IST']

In [369]:
Fixtures=pd.DataFrame({})
Fixtures['Name']=NAME
Fixtures['Place']=PLACE
Fixtures['Date']=DATE
Fixtures['Time']=TIME
Fixtures

,Name,Place,Date,Time
0,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","1 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
2,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","3 DECEMBER, 2023",1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,","3 DECEMBER, 2023",7:00 PM IST
4,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,","6 DECEMBER, 2023",7:00 PM IST
5,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,","9 DECEMBER, 2023",7:00 PM IST
6,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,","10 DECEMBER, 2023",7:00 PM IST
7,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead,","10 DECEMBER, 2023",9:30 PM IST
8,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park,","12 DECEMBER, 2023",9:30 PM IST

In [370]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [40]:
driver = webdriver.Chrome()

In [41]:
url='http://statisticstimes.com/'
driver.get(url)

In [42]:
## click on India 
india=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
driver.get(india.get_attribute('href'))

In [44]:
##Clicking on GDP of Indian State
gdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [45]:
Rank=[]
State=[]
GSDP_19=[]
GSDP_18=[]
Share=[]
GDP=[]
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[2]"):
    State.append(i.text)   
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19.append(i.text)  
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[8]"):
    GSDP_18.append(i.text)
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[5]"):
    Share.append(i.text)   
for i in driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [46]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP 19-20':GSDP_19,'GSDP 18-19':GSDP_18,'Share':Share,'GDP($Billion)':GDP})
df

   Rank                      State GSDP 19-20 GSDP 18-19   Share GDP($Billion)
0     1                Maharashtra          -  2,039,074  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,215,307   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,123,982   8.39%       240.726
3     4                    Gujarat          -  1,186,379   7.96%       228.290
4     5                  Karnataka  1,631,977  1,091,077   7.91%       226.806
5     6                West Bengal  1,253,832    739,525   5.77%       165.556
6     7                  Rajasthan  1,020,989    677,428   4.99%       143.179
7     8             Andhra Pradesh    972,782    621,301   4.57%       131.083
8     9                  Telangana    969,604    612,828   4.56%       130.791
9    10             Madhya Pradesh    906,672    522,009   4.29%       122.977
10   11                     Kerala          -    559,412   4.14%       118.733
11   12                      Delhi    856,112    590,569   4.10%       117.703
12   13                    Haryana    831,610    531,085   3.89%       111.519
13   14                      Bihar    611,804    375,651   2.81%        80.562
14   15                     Punjab    574,760    397,669   2.79%        79.957
15   16                     Odisha    521,275    376,877   2.58%        74.098
16   17                      Assam          -    234,048   1.67%        47.982
17   18               Chhattisgarh    329,180    231,182   1.61%        46.187
18   19                  Jharkhand    328,598    224,986   1.57%        45.145
19   20                Uttarakhand          -    193,273   1.30%        37.351
20   21            Jammu & Kashmir          -    112,755   0.83%        23.690
21   22           Himachal Pradesh    165,472    117,851   0.81%        23.369
22   23                        Goa     80,449     57,787   0.39%        11.115
23   24                    Tripura     55,984     36,963   0.26%         7.571
24   25                 Chandigarh          -     31,192   0.22%         6.397
25   26                 Puducherry     38,253     23,013   0.18%         5.230
26   27                  Meghalaya     36,572     24,682   0.18%         5.086
27   28                     Sikkim     32,496     18,722   0.15%         4.363
28   29                    Manipur     31,790     19,300   0.15%         4.233
29   30                   Nagaland          -     17,647   0.14%         4.144
30   31          Arunachal Pradesh          -     16,676   0.13%         3.737
31   32                    Mizoram     26,503     16,478   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

In [47]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [48]:
driver = webdriver.Chrome()

In [49]:
url='https://github.com/'
driver.get(url)

In [50]:
Repository_Name =[]
Language=[]
Muted_Link=[]

In [51]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')       # Locating page foe top videos by xpath
explore.click()

In [52]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')       # Locating page foe top videos by xpath
trending.click()

In [67]:
#scraping the Repositor_Name 
RN=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in RN:
    if i.text is None :
        Repository_Name.append("--") 
    else:
        Repository_Name.append(i.text)
print(len(Repository_Name),Repository_Name)

50 ['LouisShark /', 'linexjlin /', 'OthersideAI /', 'opa334 /', 'nlohmann /', 'run-llama /', '1Panel-dev /', 'Vaibhavs10 /', 'grpc-ecosystem /', '521xueweihan /', 'googleapis /', 'Ftindy /', 'NVIDIA /', 'jason5ng32 /', 'florinpop17 /', 'gto76 /', 'makeplane /', 'atomone-hub /', 'pointfreeco /', 'fastlane /', 'StanGirard /', 'Azure /', 'brianvoe /', 'DrKLO /', 'Melledy /', 'LouisShark /', 'linexjlin /', 'OthersideAI /', 'opa334 /', 'nlohmann /', 'run-llama /', '1Panel-dev /', 'Vaibhavs10 /', 'grpc-ecosystem /', '521xueweihan /', 'googleapis /', 'Ftindy /', 'NVIDIA /', 'jason5ng32 /', 'florinpop17 /', 'gto76 /', 'makeplane /', 'atomone-hub /', 'pointfreeco /', 'fastlane /', 'StanGirard /', 'Azure /', 'brianvoe /', 'DrKLO /', 'Melledy /']

In [68]:
Description=[]
#scraping the Description 
des=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
print(len(Description),Description)

21 ["store all agent's system prompt", 'leaked prompts of GPTs', 'Jailed iOS app that can install IPAs permanently with arbitary entitlements and root helpers because it trolls Apple', 'JSON for Modern C++', 'Build ChatGPT over your data, all with natural language', '🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。', 'gRPC to JSON proxy generator following the gRPC HTTP spec', '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.', 'A PHP client library for accessing Google APIs', 'Ongoing research training transformer models at scale', 'IP Toolkit. It allows you to view local IP, IP information after using a proxy, check for DNS leaks, examine WebRTC connections, and test website availability. || IP 工具箱。可以查看本机IP、挂代理后的IP信息、检查 DNS 泄露、检查 WebRTC 连接、测试网站可用性等。', 'A Collection of application ideas which can be used to improve your coding skills.', 'Comprehensive Python Cheatsheet', '🔥 🔥 🔥 Open Source JIRA, Linear and Height Alternative. Plane helps you track your issues, epics, and product roadmaps in the simplest way possible.', 'declaration of genesis', 'A library for building applications in a consistent and understandable way, with composition, testing, and ergonomics in mind.', '🚀 The easiest way to automate building and releasing your iOS and Android apps', '🧠 Your supercharged Second Brain 🧠 Your personal productivity assistant to chat with your dumped files (PDF, CSV) & apps using GPT 3.5 / 4 turbo, Private, Anthropic, VertexAI, Ollama, LLMs, that you can share with users ! Local & Private alternative to OpenAI GPTs', 'Azure Quickstart Templates', 'Random fake data generator written in go', 'Telegram for Android source']

In [69]:
#scraping the Language 
L=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in L:
    if i.text is None :
        Language.append("NAN") 
    else:
        Language.append(i.text)
print(len(Language),Language)

42 ['C', 'Python', 'C', 'C++', 'Python', 'Go', 'Jupyter Notebook', 'Go', 'Python', 'PHP', 'Python', 'JavaScript', 'Python', 'TypeScript', 'Swift', 'Ruby', 'TypeScript', 'Bicep', 'Go', 'Java', 'Java', 'C', 'Python', 'C', 'C++', 'Python', 'Go', 'Jupyter Notebook', 'Go', 'Python', 'PHP', 'Python', 'JavaScript', 'Python', 'TypeScript', 'Swift', 'Ruby', 'TypeScript', 'Bicep', 'Go', 'Java', 'Java']

In [70]:
#scraping the Muted_Link And Star 
ml=driver.find_elements(By.XPATH,"//a[@class='Link Link--muted d-inline-block mr-3']")
for i in ml:
    if i.text is None :
        Muted_Link.append("NAN") 
    else:
        Muted_Link.append(i.text)
print(len(Muted_Link),Muted_Link)

100 ['3,110', '549', '5,236', '1,017', '925', '77', '11,731', '744', '37,730', '6,384', '4,190', '459', '13,434', '1,386', '2,765', '174', '16,522', '2,112', '78,610', '9,443', '8,903', '3,655', '770', '119', '6,962', '1,542', '639', '85', '69,717', '8,955', '34,046', '6,239', '18,635', '853', '44', '16', '10,150', '1,122', '37,797', '5,653', '24,629', '2,684', '13,346', '15,902', '3,553', '257', '22,956', '7,682', '191', '55', '3,110', '549', '5,236', '1,017', '925', '77', '11,731', '744', '37,730', '6,384', '4,190', '459', '13,434', '1,386', '2,765', '174', '16,522', '2,112', '78,610', '9,443', '8,903', '3,655', '770', '119', '6,962', '1,542', '639', '85', '69,717', '8,955', '34,046', '6,239', '18,635', '853', '44', '16', '10,150', '1,122', '37,797', '5,653', '24,629', '2,684', '13,346', '15,902', '3,553', '257', '22,956', '7,682', '191', '55']

In [71]:
Muted=[]
for i in range(1,len(Muted_Link),2):
    Muted.append(Muted_Link[i])
    
print(len(Muted),Muted)

50 ['549', '1,017', '77', '744', '6,384', '459', '1,386', '174', '2,112', '9,443', '3,655', '119', '1,542', '85', '8,955', '6,239', '853', '16', '1,122', '5,653', '2,684', '15,902', '257', '7,682', '55', '549', '1,017', '77', '744', '6,384', '459', '1,386', '174', '2,112', '9,443', '3,655', '119', '1,542', '85', '8,955', '6,239', '853', '16', '1,122', '5,653', '2,684', '15,902', '257', '7,682', '55']

In [72]:
Muted_Star=[]
for i in range(0,len(Muted_Link),2):
    Muted_Star.append(Muted_Link[i])
    
print(len(Muted_Star),Muted_Star)

50 ['3,110', '5,236', '925', '11,731', '37,730', '4,190', '13,434', '2,765', '16,522', '78,610', '8,903', '770', '6,962', '639', '69,717', '34,046', '18,635', '44', '10,150', '37,797', '24,629', '13,346', '3,553', '22,956', '191', '3,110', '5,236', '925', '11,731', '37,730', '4,190', '13,434', '2,765', '16,522', '78,610', '8,903', '770', '6,962', '639', '69,717', '34,046', '18,635', '44', '10,150', '37,797', '24,629', '13,346', '3,553', '22,956', '191']

In [73]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_Name[:20]
Trending_Repository['Description']=Description[:20]
Trending_Repository['Language']=Language[:20]
Trending_Repository['Conutrybuted']=Muted[:20]
Trending_Repository['Muted_Star']=Muted_Star[:20]
Trending_Repository

,Name,Description,Language,Conutrybuted,Muted_Star
0,LouisShark /,store all agent's system prompt,C,549,"3,110"
1,linexjlin /,leaked prompts of GPTs,Python,"1,017","5,236"
2,OthersideAI /,Jailed iOS app that can install IPAs permanent...,C,77,925
3,opa334 /,JSON for Modern C++,C++,744,"11,731"
4,nlohmann /,"Build ChatGPT over your data, all with natural...",Python,"6,384","37,730"
5,run-llama /,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,Go,459,"4,190"
6,1Panel-dev /,gRPC to JSON proxy generator following the gRP...,Jupyter Notebook,"1,386","13,434"
7,Vaibhavs10 /,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",Go,174,"2,765"
8,grpc-ecosystem /,A PHP client library for accessing Google APIs,Python,"2,112","16,522"
9,521xueweihan /,Ongoing research training transformer models a...,PHP,"9,443","78,610"
10,googleapis /,"IP Toolkit. It allows you to view local IP, IP...",Python,"3,655","8,903"
11,Ftindy /,A Collection of application ideas which can be...,JavaScript,119,770
12,NVIDIA /,Comprehensive Python Cheatsheet,Python,"1,542","6,962"
13,jason5ng32 /,"🔥 🔥 🔥 Open Source JIRA, Linear and Height Alte...",TypeScript,85,639
14,florinpop17 /,declaration of genesis,Swift,"8,955","69,717"
15,gto76 /,A library for building applications in a consi...,Ruby,"6,239","34,046"
16,makeplane /,🚀 The easiest way to automate building and rel...,TypeScript,853,"18,635"
17,atomone-hub /,🧠 Your supercharged Second Brain 🧠 Your person...,Bicep,16,44
18,pointfreeco /,Azure Quickstart Templates,Go,"1,122","10,150"
19,fastlane /,Random fake data generator written in go,Java,"5,653","37,797"

In [75]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [215]:
driver = webdriver.Chrome()
driver.maximize_window()

In [216]:
url='https://www.billboard.com/charts/hot-100/'
driver.get(url)

In [217]:
#Scrap all tags

Name=[]
Name.append(driver.find_element(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']").text)
Artist=[]
Artist.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [218]:
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
Name.extend([i.text for i in nameTag])
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist.extend([i.text for i in artistTag])
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [219]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [220]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [221]:
#check length of all
len(Name),len(Artist),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [222]:
df=pd.DataFrame()
df['SongName']=Name
df['ArtistName']=Artist
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Lovin On Me,Jack Harlow,2,1,2
1,Cruel Summer,Taylor Swift,1,1,29
2,Paint The Town Red,Doja Cat,3,1,16
3,All I Want For Christmas Is You,Mariah Carey,17,1,60
4,Snooze,SZA,4,2,50
...,...,...,...,...,...
95,Different 'Round Here,Riley Green Featuring Luke Combs,67,20,6
96,Bongos,Cardi B & Megan Thee Stallion,,,
97,But I Got A Beer In My Hand,Luke Bryan,75,61,8
98,Calling For You,Drake Featuring 21 Savage,,,
99,Mi Ex Tenia Razon,Karol G,-,84,1

In [223]:
driver.close()

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [102]:
driver = webdriver.Chrome()

In [103]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [104]:
book=[]
author=[]
volume=[]
pub=[]
genre=[]
for j in range(1,101):
    for i in driver.find_elements(By.XPATH,"//tbody/tr[{}]/td[2]".format(j)):
        book.append(i.text)
    for i in driver.find_elements(By.XPATH,"//tbody/tr[{}]/td[3]".format(j)):
        author.append(i.text)
    for i in driver.find_elements(By.XPATH,"//tbody/tr[{}]/td[4]".format(j)):
        volume.append(i.text)
    for i in driver.find_elements(By.XPATH,"//tbody/tr[{}]/td[5]".format(j)):
        pub.append(i.text)
    for i in driver.find_elements(By.XPATH,"//tbody/tr[{}]/td[6]".format(j)):
        genre.append(i.text)

In [105]:
df=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sold':volume,'Publisher':pub,'Genre':genre})
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [106]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [107]:
driver = webdriver.Chrome()

In [108]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [109]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='lister-item mode-detail']/div[2]/h3/a"):
        Name.append(i.text)
except NoSuchAttributeException as e:
    Name.append('--')
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
        Year.append(i.text)  
except NoSuchAttributeException as e:
     Year.append('--')
try:
    for i in driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]"):
        Genre.append(i.text)  
except NoSuchAttributeException as e:
    Genre.append('--')
try:
    for i in driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]"):
        Time.append(i.text)  
except NoSuchAttributeException as e:
    Time.append('--')  
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div/span[2]"):
        Rating.append(i.text)  
except NoSuchAttributeException as e:
    Rating.append('--')   
try:
    for i in driver.find_elements(By.XPATH,"//span[@name='nv']"):
        Votes.append(i.text)  
except NoSuchAttributeException as e:
    Votes.append('--')

In [110]:
df=pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Time_Span':Time,'Rating':Rating,'Votes':Votes})
df

,Name,Year,Genre,Time_Span,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,486"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,463"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,206"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"310,108"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,228"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,273"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,355"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,156"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,371"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"278,003"

In [111]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [415]:
driver = webdriver.Chrome()

In [416]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [417]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_Instances=[]
No_of_Attribute=[]
Year=[]

In [418]:
search_1 = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')       # Locating page for top videos by xpath
search_1.click()

In [420]:
search_2 = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')       # Locating page for top videos by xpath
search_2.click()

In [421]:
#scraping the Dataset_Name 
dname=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/h2/a")
for i in dname:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text)
print(len(Dataset_Name),Dataset_Name)

1 ['Iris']

In [422]:
#scraping the Data_Type 
dtype=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[1]')
for i in dtype:
    if i.text is None :
        Data_Type.append("--") 
    else:
        Data_Type.append(i.text)
print(len(Data_Type),Data_Type)

1 ['Biology']

In [423]:
#scraping the Task 
t=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/div/div[1]/span')
for i in t:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
print(len(Task),Task)

1 ['Classification']

In [424]:
#scraping the Attribute_Type 
att=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[2]')
for i in att:
    if i.text is None :
        Attribute_Type.append("--") 
    else:
        Attribute_Type.append(i.text)
print(len(Attribute_Type),Attribute_Type)

1 ['Real']

In [425]:
#scraping the No_of_Instances 
noi=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/div/div[3]/span")
for i in noi:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text)
print(len(No_of_Instances),No_of_Instances)

1 ['150 Instances']

In [426]:
#scraping the No_of_Attribute 
noa=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/div/div[4]/span")
for i in noa:
    if i.text is None :
        No_of_Attribute.append("--") 
    else:
        No_of_Attribute.append(i.text)
print(len(No_of_Attribute),No_of_Attribute)

1 ['4 Features']

In [427]:
#scraping the Year 
y=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[3]')
for i in y:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
print(len(Year),Year)

1 ['7/1/1988']

In [428]:
UCI=pd.DataFrame([])
UCI['Dataset_Name']=Dataset_Name[:100]
UCI['Data_Type']=Data_Type[:100]
UCI['Task']=Task[:100]
UCI['Attribute_Type']=Attribute_Type[:100]
UCI['No_of_Instances']=No_of_Instances[:100]
UCI['No_of_Attribute']=No_of_Attribute[:100]
UCI['Year']=Year[:100]
UCI

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,No_of_Attribute,Year
0,Iris,Biology,Classification,Real,150 Instances,4 Features,7/1/1988

In [ ]:
Thankyou