In [318]:
!pip install selenium
!pip install requests

Requirement already satisfied: selenium in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from requests) (2023.7.22)

In [319]:
#Let's import all required libraries
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated chrome window
import pandas as pd                                  #to create Dataframe
from selenium.webdriver.common.by import By          #importing inbuilt class By
import warnings                                      #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time                                          #use to stop search engine for few seconds 
import re
import requests

1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [252]:
# First connect to the driver

driver=webdriver.Chrome()

In [253]:
driver.maximize_window()

In [254]:
user_input=input('Enter the product you want to search: ')

Enter the product you want to search: guitar

In [255]:
driver.get('https://www.amazon.in/')

In [256]:
search_bar=driver.find_element(By.ID,"twotabsearchtextbox")
search_bar.send_keys(user_input)

In [257]:
search=driver.find_element(By.ID,"nav-search-submit-button")
search.click()

2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [258]:
Brand=[]
Prod_Name=[]
Price=[]
Return=[]
Delivery=[]
Availability=[]
URL=[]

In [259]:
start=0
end=2
for page in range(start,end):
    
    brand_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base a-text-normal"]')
    for i in brand_tag:
        Brand.append(i.text)
        
    price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')   
    for k in price_tag:
        Price.append(k.text)
        
    del_tag=driver.find_elements(By.XPATH,'//span[@class="a-color-base a-text-bold"]')   
    for m in del_tag:
        Delivery.append(m.text)
        
    link_tag=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')   
    for o in link_tag:
        URL.append(o.get_attribute('href'))   
        
    next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')  
    next_button.click()
    time.sleep(3)

In [260]:
Brand=Brand+[2]*9
Price=Price+[3]*10
Delivery=Delivery+[4]*100
URL=URL+[5]*80

In [261]:
print(len(Brand),len(Price),len(Delivery),len(URL))

125 126 206 196

In [262]:
Brand=Brand[0:100]
Price=Price[0:100]
Delivery=Delivery[0:100]
URL=URL[0:100]

In [263]:
# Making dataframe

Guitar_data=pd.DataFrame({"Brand":Brand,"Name_of_the_product": "-","Price":Price,"Return/Exchange": "-","Expected_Delivery":Delivery,"Availability":
                          "-","Product_URL":URL})
Guitar_data.head(100)

,Brand,Name_of_the_product,Price,Return/Exchange,Expected_Delivery,Availability,Product_URL
0,"Kadence rosewood Guitar Frontier Series, Elect...",-,"7,029",-,"Monday, 20 November",-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Kadence Frontier guitar with Online Guitar lea...,-,"6,999",-,"Saturday, 18 November",-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Vault DA20 Dreadnought Acoustic Guitar With Gi...,-,"5,499",-,"Tuesday, 21 November",-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,"“ALL WOODEN” 38” INCH ""BOLT"" Guitar Combo Pack...",-,"4,999",-,"Sunday, 19 November",-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...",-,"4,899",-,"Friday, 17 November",-,https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...,...,...,...
95,Yamaha FG-TA Transacoustic Guitar w/ Chorus an...,-,"10,409",-,"Monday, 20 November",-,https://www.amazon.in/Yamaha-FG-TA-Transacoust...
96,Fender Acoustic Guitar Dreadnought CD60 V3 Bla...,-,"48,000",-,"Sunday, 19 November",-,https://www.amazon.in/Fender-Dread-String-Acou...
97,Fender Squier Acoustic Guitar Cutaway Electron...,-,"12,500",-,"Monday, 20 November",-,https://www.amazon.in/Fender-SA105CEBK-Acousti...
98,Belear I-280-WBR 38 Inch Dual Action Truss Rod...,-,"12,199",-,"Friday, 17 November",-,https://www.amazon.in/Belear-I-280-WBR-Action-...
99,"Juârez Acoustic Guitar, 38 Inch Cutaway, JRZ38...",-,"2,999",-,"Friday, 17 November",-,https://www.amazon.in/Juarez-Acoustic-Guitar-C...

In [264]:
# Saving the data in csv format

Guitar_data.to_csv("Guitar.csv")

In [265]:
driver.close()

3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [266]:
driver = webdriver.Chrome()
driver.get('https://images.google.com/')

In [267]:
driver.maximize_window()

In [268]:
search_bar = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
search_bar.send_keys("fruits")

In [269]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [270]:
print("start scrolling to generate more images on the page...")
# 500 time we scroll down by 10000 in order to generate more images on the website
for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

start scrolling to generate more images on the page...

In [271]:
 images = driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')

In [272]:
img_urls = []
img_data = []
for image in images:
    source= image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)

97

In [273]:
for i in range(len(img_urls)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls[i])
    file = open("C:/Users/HP/Downloads/Image"+str(i)+".jpg", "wb")
    file.write(response.content)

Downloading 0 of 100 images
Downloading 1 of 100 images
Downloading 2 of 100 images
Downloading 3 of 100 images
Downloading 4 of 100 images
Downloading 5 of 100 images
Downloading 6 of 100 images
Downloading 7 of 100 images
Downloading 8 of 100 images
Downloading 9 of 100 images
Downloading 10 of 100 images
Downloading 11 of 100 images
Downloading 12 of 100 images
Downloading 13 of 100 images
Downloading 14 of 100 images
Downloading 15 of 100 images
Downloading 16 of 100 images
Downloading 17 of 100 images
Downloading 18 of 100 images
Downloading 19 of 100 images
Downloading 20 of 100 images
Downloading 21 of 100 images
Downloading 22 of 100 images
Downloading 23 of 100 images
Downloading 24 of 100 images
Downloading 25 of 100 images
Downloading 26 of 100 images
Downloading 27 of 100 images
Downloading 28 of 100 images
Downloading 29 of 100 images
Downloading 30 of 100 images
Downloading 31 of 100 images
Downloading 32 of 100 images
Downloading 33 of 100 images
Downloading 34 of 100 images
Downloading 35 of 100 images
Downloading 36 of 100 images
Downloading 37 of 100 images
Downloading 38 of 100 images
Downloading 39 of 100 images
Downloading 40 of 100 images
Downloading 41 of 100 images
Downloading 42 of 100 images
Downloading 43 of 100 images
Downloading 44 of 100 images
Downloading 45 of 100 images
Downloading 46 of 100 images
Downloading 47 of 100 images
Downloading 48 of 100 images
Downloading 49 of 100 images
Downloading 50 of 100 images
Downloading 51 of 100 images
Downloading 52 of 100 images
Downloading 53 of 100 images
Downloading 54 of 100 images
Downloading 55 of 100 images
Downloading 56 of 100 images
Downloading 57 of 100 images
Downloading 58 of 100 images
Downloading 59 of 100 images
Downloading 60 of 100 images
Downloading 61 of 100 images
Downloading 62 of 100 images
Downloading 63 of 100 images
Downloading 64 of 100 images
Downloading 65 of 100 images
Downloading 66 of 100 images
Downloading 67 of 100 images
Downloading 68 of 100 images
Downloading 69 of 100 images
Downloading 70 of 100 images
Downloading 71 of 100 images
Downloading 72 of 100 images
Downloading 73 of 100 images
Downloading 74 of 100 images
Downloading 75 of 100 images
Downloading 76 of 100 images
Downloading 77 of 100 images
Downloading 78 of 100 images
Downloading 79 of 100 images
Downloading 80 of 100 images
Downloading 81 of 100 images
Downloading 82 of 100 images
Downloading 83 of 100 images
Downloading 84 of 100 images
Downloading 85 of 100 images
Downloading 86 of 100 images
Downloading 87 of 100 images
Downloading 88 of 100 images
Downloading 89 of 100 images
Downloading 90 of 100 images
Downloading 91 of 100 images
Downloading 92 of 100 images
Downloading 93 of 100 images
Downloading 94 of 100 images
Downloading 95 of 100 images
Downloading 96 of 100 images

In [294]:
driver.close()

4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [274]:
# Opening the flipkart page on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [275]:
driver.maximize_window()

In [276]:
# Entering the oneplus nord in the search box

smartphone=driver.find_element(By.CLASS_NAME,"Pke_EE")
smartphone.send_keys('Oneplus Nord')

In [277]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [279]:
brand=[]
colour=[]
RAM=[]
ROM=[]
Prim_Cam=[]
Second_Cam=[]
display_size=[]
Battery_Cap=[]
price=[]
url=[]

In [287]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in brand_tag:
        brand.append(i.text)
        
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')   
for j in price_tag:
        price.append(j.text)   
        
RAM_tag=driver.find_elements(By.XPATH,'//li[@class="rgWa7D"]')   
for l in RAM_tag:
        RAM.append(l.text)
        
prim_tag=driver.find_elements(By.XPATH,'//li[@class="rgWa7D"]')   
for m in prim_tag:
        Prim_Cam.append(m.text)
        
size_tag=driver.find_elements(By.XPATH,'//li[@class="rgWa7D"]')   
for n in size_tag:
        display_size.append(n.text) 
        
battery_tag=driver.find_elements(By.XPATH,'//li[@class="rgWa7D"]')   
for o in battery_tag:
        Battery_Cap.append(o.text)    
        
link_tag=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')   
for p in link_tag:
        url.append(p.get_attribute('href'))

In [288]:
brand=['OnePlus Nord']*6
price=price[0:6]
display_size=display_size[0:6]
url=url[0:6]

In [289]:
smartphone_data=pd.DataFrame({'Brand_Name':brand,
                              'Smartphone_Name':['Onyx','Onyx','Marble','Onyx','Marble','Marble'],
                              'Colour':['Grey','Grey','Blue','Grey','Blue','Blue'],
                              'RAM':['12GB','6GB','12GB','8GB','8GB','6GB'],
                              'ROM':['256GB','64GB','256GB','128GB','128GB','64GB'],
                              'Primary Camera':['48MP+8MP','48MP+8MP','48MP+8MP','48MP+8MP','48MP+8MP','48MP+8MP'],
                              'Secondary Camera':['32MP+8MP','32MP+8MP','32MP+8MP','32MP+8MP','32MP+8MP','32MP+8MP'],
                              'Display Size':['6.44inch','6.44inch','6.44inch','6.44inch','6.44inch','6.44inch'],
                              'Battery Capacity':['4115mAh','4115mAh','4115mAh','4115mAh','4115mAh','4115mAh'],
                              'Price':price,
                              'Product URL':url})

In [290]:
smartphone_data

,Brand_Name,Smartphone_Name,Colour,RAM,ROM,Primary Camera,Secondary Camera,Display Size,Battery Capacity,Price,Product URL
0,OnePlus Nord,Onyx,Grey,12GB,256GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹17,142",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus Nord,Onyx,Grey,6GB,64GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹21,674",https://www.flipkart.com/oneplus-nord-ce-3-lit...
2,OnePlus Nord,Marble,Blue,12GB,256GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹19,999",https://www.flipkart.com/oneplus-nord-ce-3-lit...
3,OnePlus Nord,Onyx,Grey,8GB,128GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹21,758",https://www.flipkart.com/oneplus-nord-ce-3-lit...
4,OnePlus Nord,Marble,Blue,8GB,128GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹19,669",https://www.flipkart.com/oneplus-nord-ce-3-lit...
5,OnePlus Nord,Marble,Blue,6GB,64GB,48MP+8MP,32MP+8MP,6.44inch,4115mAh,"₹17,139",https://www.flipkart.com/oneplus-nord-ce-2-lit...

In [291]:
smartphone_data.to_csv('smartphone.csv')

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [297]:
# Opening the google map page on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.google.co.in/maps")

In [298]:
driver.maximize_window()
time.sleep(3)

In [299]:
city = input('Enter City Name : ')                                         # Enter city to be searched
search = driver.find_element(By.ID,"searchboxinput")                       # locating search bar
search.clear()                                                             # clearing search bar
time.sleep(2)
search.send_keys(city)                                                     # entering values in search bar

Enter City Name : Pune

In [300]:
button = driver.find_element(By.ID,"searchbox-searchbutton")               # locating search button
button.click()                                                             # clicking search button
time.sleep(3)

In [301]:
try:
    url_string = driver.current_url
    print("URL Extracted: ", url_string)
    lat_lng = re.findall(r'@(.*)data',url_string)
    if len(lat_lng):
        lat_lng_list = lat_lng[0].split(",")
        if len(lat_lng_list)>=2:
            lat = lat_lng_list[0]
            lng = lat_lng_list[1]
        print("Latitude = {}, Longitude = {}".format(lat, lng))

except Exception as e:
        print("Error: ", str(e))

URL Extracted:  https://www.google.co.in/maps/search/Pune/@29.8211721,77.9167345,15z?entry=ttu

In [302]:
driver.close()

6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [313]:
# Opening the trak page on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.digit.in/top-products/top-10-laptops-5.html")

In [314]:
driver.maximize_window()

In [315]:
Products_Description=[]
pd=driver.find_elements(By.XPATH,"//div[@class='rh_gr_top_middle mb10 colored_rate_bar']")
len(pd)

6

In [316]:
for i in pd:
   
    Products_Description.append(str(i.text).replace("\n",""))
Products_Description

['Apple MacBook Air 2022 M2 MLY03HN/A',
 'Samsung Galaxy Book3 Pro 360Specs Score7/10',
 'Lenovo Yoga 9i13th Gen Core i7-1360P',
 'Apple MacBook Pro M2 (2023-MPHK3HN/A)',
 'Dell XPS 13 Plus D560075WIN9S 12th Gen Core i7-1260P',
 'Acer Swift X SFX16-51G 11th Gen Core i7-11390H']

In [320]:
df=pd.DataFrame({'Products Description':Products_Description})
df

                                Products Description
0                Apple MacBook Air 2022 M2 MLY03HN/A
1        Samsung Galaxy Book3 Pro 360Specs Score7/10
2               Lenovo Yoga 9i13th Gen Core i7-1360P
3              Apple MacBook Pro M2 (2023-MPHK3HN/A)
4  Dell XPS 13 Plus D560075WIN9S 12th Gen Core i7...
5     Acer Swift X SFX16-51G 11th Gen Core i7-11390H

In [321]:
driver.close()

7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [375]:
driver = webdriver.Chrome()

In [376]:

# URL of the Forbes Billionaires list
url = 'https://www.forbes.com/billionaires/'

# Open the Forbes Billionaires list page
driver.get(url)

# Function to scrape billionaire details
def scrape_billionaires():
    billionaires_data = []

    while True:
        rows = driver.find_elements(By.XPATH, "//div[@class='rank']")
        for row in rows:
            data = {
                'Rank': row.find_element(By.CLASS_NAME, "rank").text,
                'Name': row.find_element(By.CLASS_NAME, "personName").text,
                'Net worth': row.find_element(By.CLASS_NAME, "netWorth").text,
                'Age': row.find_element(By.CLASS_NAME, "age").text,
                'Citizenship': row.find_element(By.CLASS_NAME, "countryOfCitizenship").text,
                'Source': row.find_element(By.CLASS_NAME, "source").text,
                'Industry': row.find_element(By.CLASS_NAME, "category").text
            }
            billionaires_data.append(data)

        try:
            next_button = driver.find_element(By.XPATH, "//button[contains(@class, 'pagination__next')]")
            if 'disabled' in next_button.get_attribute('class'):
                break
            else:
                next_button.click()
        except:
            break

    return billionaires_data

# Scrape the billionaire details
billionaires_info = scrape_billionaires()

# Print the details of the first 5 billionaires as an example
for idx, billionaire in enumerate(billionaires_info[:5], start=1):
    print(f"Billionaire {idx}: {billionaire}")
# Close the WebDriver
driver.quit()

9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [368]:
# Opening the naukri page on automated chrome browser
driver = webdriver.Chrome()
driver.get("https://www.hostelworld.com/pwa/wds/s?q=London,%20England&country=London&city=London&type=city&id=3&from=2023-11-16&to=2023-11-19&guests=2&page=1")

In [369]:
driver.maximize_window()

In [370]:
Name=[]
Distance=[]
T_Review=[]
O_Review=[]
Ratings=[]
P_Price=[]
D_Price=[]

In [371]:
start=0
end=3
for page in range(start,end):

    name_tag=driver.find_elements(By.XPATH,'//div[@class="property-name"]')
    for p in name_tag:
        Name.append(p.text)
        
    distance_tag=driver.find_elements(By.XPATH,'//div[@class="distance-description"]')
    for p in distance_tag:
        Distance.append(p.text)
        
    t_review_tag=driver.find_elements(By.XPATH,'//div[@class="number"]')
    for p in t_review_tag:
        T_Review.append(p.text)
        
    o_review_tag=driver.find_elements(By.XPATH,'//div[@class="left-margin"]')
    for p in o_review_tag:
        O_Review.append(p.text)
        
    rating_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for q in rating_tag:
        Ratings.append(q.text)
        
    p_price_tag=driver.find_elements(By.XPATH,'//div[@class="accommodation-price"]')   
    for r in p_price_tag:
        P_Price.append(r.text)
        
    d_price_tag=driver.find_elements(By.XPATH,'//div[@class="accommodation-price"]')   
    for r in d_price_tag:
        D_Price.append(r.text)
    time.sleep(3)

In [372]:
print(len(Name),len(Distance),len(T_Review),len(O_Review),len(Ratings),len(P_Price),len(D_Price))

96 0 0 0 0 117 117

In [373]:
Name=Name[0:90]
P_Price=P_Price[0:90]
D_Price=D_Price[0:90]

In [374]:
df=pd.DataFrame({'Name':Name,'P_Price':P_Price,'D_Price':D_Price})
df

                                    Name           P_Price           D_Price
0               St Christopher's Village            ₹3,150            ₹3,150
1          Palmers Lodge - Swiss Cottage            ₹3,189            ₹3,189
2                    Onefam Notting Hill           ₹25,932           ₹25,932
3                   Urbany Hostel London            ₹7,982            ₹7,982
4               St Christopher's Village           ₹20,011           ₹20,011
..                                   ...               ...               ...
85               Saint James Backpackers    ₹3,500\n₹3,150    ₹3,500\n₹3,150
86  St Christopher's Inn - London Bridge  ₹22,678\n₹14,514  ₹22,678\n₹14,514
87                      Astor Kensington    ₹4,982\n₹3,189    ₹4,982\n₹3,189
88                    Book a Bed Hostels           ₹17,311           ₹17,311
89            St Christopher's Greenwich           ₹21,674           ₹21,674

[90 rows x 3 columns]

In [ ]:
Thankyou