In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\anaconda_new\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
#Let's import all required libraries
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated chrome window
import pandas as pd                                  #to create Dataframe
from selenium.webdriver.common.by import By          #importing inbuilt class By
import warnings                                      #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time                                          #use to stop search engine for few seconds

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [946]:
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')

In [947]:
title=driver.find_element(By.ID,"id_q")
title.send_keys('Data Analyst')

In [948]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [949]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [950]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [951]:

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [952]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Analytics - Analyst,Bangalore,jpmorgan,0 to 4 Yrs
9,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [953]:
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')

In [954]:
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

In [955]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [956]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [957]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [958]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
3,Data Scientist AI ML CV,Bangalore,bosch group,3 to 5 Yrs
4,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
5,Data Scientist AI ML NLP,Bangalore,bosch group,3 to 5 Yrs
6,Phd Data Scientist,Bangalore,bosch group,2 to 5 Yrs
7,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
8,Data Scientist,Bangalore,racanaa energy solution private lim...,3 to 6 Yrs
9,Staff Data Scientist & Team Lead,Bangalore,true caller,8 to 12 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [959]:
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')

In [960]:
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

In [961]:
location=driver.find_element(By.ID,"id_loc")
location.send_keys('Delhi')

In [962]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [963]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [964]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist- Faridabad,Faridabad,the fashion cosmo,0 to 3 Yrs
1,Data Scientist- Ghaziabad,Ghaziabad,the fashion cosmo,0 to 3 Yrs
2,Data Scientist- Noida,Noida,the fashion cosmo,0 to 3 Yrs
3,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
4,Data Scientist-Faridabad,Faridabad,shiva hr services,0 to 3 Yrs
5,Data Scientist-Ghaziabad,Ghaziabad,shiva hr services,0 to 3 Yrs
6,Data Scientist-Noida,Noida,shiva hr services,0 to 3 Yrs
7,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
8,Data scientist,Delhi\n+8,capgemini technology services india...,6 to 11 Yrs
9,Data Scientist,Delhi\n+6,mnr solutions pvt ltd,3 to 6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [995]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [996]:
Sunglass=driver.find_element(By.CLASS_NAME,"Pke_EE")
Sunglass.send_keys('Sunglasses')

In [997]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [998]:
brand=[]
product=[]
price=[]

In [999]:
start=0
end=3
for page in range(start,end):
    
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
        
    product_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for j in product_tag:
        product.append(j.text)
        
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')   
    for k in price_tag:
        price.append(k.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_2UzuFa"]')  
    next_button.click()
    time.sleep(3)

In [1000]:
brand=brand[0:100]
product=product[0:100]
price=price[0:100]

In [1001]:
print(len(brand),len(product),len(price))

100 100 100

In [1002]:
df4=pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price})
df4

             Brand                                Product Description   Price
0      Eyewearlabs  Polarized, UV Protection Wayfarer Sunglasses (51)  ₹1,236
1    Nicole Miller                Polarized Butterfly Sunglasses (64)  ₹2,499
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
3         Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹549
4           GANSTA  Night Vision, Riding Glasses Rectangular Sungl...     ₹79
..             ...                                                ...     ...
95        Roadster          UV Protection Rectangular Sunglasses (59)    ₹249
96   VINCENT CHASE    Polarized, UV Protection Sports Sunglasses (69)    ₹719
97       ROYAL SON                Others Retro Square Sunglasses (58)    ₹424
98        Roadster              UV Protection Aviator Sunglasses (58)    ₹199
99  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹299

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [1013]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [1014]:
iphone=driver.find_element(By.CLASS_NAME,"Pke_EE")
iphone.send_keys('iphone_11')

In [1016]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [1017]:
rating=[]
review=[]
full_review=[]

In [1018]:
start=0
end=17
for page in range(start,end):

    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rating_tag:
        rating.append(p.text)
        
    review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for q in review_tag:
        review.append(q.text)
        
    full_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')   
    for r in full_tag:
        full_review.append(r.text)

    next_button=driver.find_element(By.XPATH,'//a[@class="_1fQZEK"]')  
    next_button.click()
    time.sleep(3)

In [1019]:
rating=rating[0:100]
review=review[0:100]
full_review=full_review[0:100]

In [1020]:
print(len(rating),len(review),len(full_review))

100 100 100

In [1021]:
df=pd.DataFrame({'Rating':rating,'Review summary':review,'Full review':full_review})
df

,Rating,Review summary,Full review
0,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
1,5,Terrific purchase,Love it 😘 I phone 11 nice camera 📸 parfomence ...
2,5,Highly recommended,Battery - more or less 2 days\nCamera - can no...
3,5,Perfect product!,Nice products thanks flkat
4,5,Wonderful,I bought during the big billion sale. It’s wor...
...,...,...,...
95,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
96,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
97,5,Terrific purchase,Love it 😘 I phone 11 nice camera 📸 parfomence ...
98,5,Highly recommended,Battery - more or less 2 days\nCamera - can no...
99,5,Perfect product!,Nice products thanks flkat

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [45]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [46]:
sneaker=driver.find_element(By.CLASS_NAME,"Pke_EE")
sneaker.send_keys('sneakers')

In [49]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [50]:
brand=[]
product=[]
price=[]

In [51]:
start=0
end=3
for page in range(start,end):

    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for p in brand_tag:
        brand.append(p.text)
        
    product_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for q in product_tag:
        product.append(q.text)
        
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')   
    for r in price_tag:
        price.append(r.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  
    next_button.click()
    time.sleep(3)

In [52]:
brand=brand[0:100]
product=product[0:100]
price=price[0:100]

In [53]:
print(len(brand),len(product),len(price))

100 100 100

In [54]:
df=pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price})
df

              Brand                                Product Description   Price
0              aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹289
1          URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹299
2            Layasa                                   Sneakers For Men    ₹299
3            BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹285
4            Layasa                                   Sneakers For Men    ₹285
..              ...                                                ...     ...
95  U.S. POLO ASSN.  Premium Casual Shoes for Women Sneakers For Women  ₹1,719
96            BIRDE  Sneaker Casual Shoes for Men | Soft Cushioned ...    ₹299
97         RED TAPE                                   Sneakers For Men  ₹1,517
98             ATOM                    Downshifter 11 Sneakers For Men  ₹1,199
99             NIKE                                   Sneakers For Men  ₹1,990

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1030]:
driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [1031]:
laptop=driver.find_element(By.ID, 'twotabsearchtextbox')
laptop.send_keys('Laptop')

In [1032]:
search=driver.find_element(By.ID, 'nav-search-submit-button')
search.click()

In [1033]:
Title=[]
Ratings=[]
Price=[]

In [1034]:
start=0
end=3
for page in range(start,end):

    title_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for p in title_tag:
        Title.append(p.text)
        
    rating_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for q in rating_tag:
        Ratings.append(q.text)
        
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')   
    for r in price_tag:
        Price.append(r.text)
    time.sleep(3)

In [1035]:
print(len(brand),len(product),len(price))

100 100 100

In [1036]:
df=pd.DataFrame({'Brand':brand,'Product Description':product,'Price':price})
df

,Brand,Product Description,Price
0,BRUTON,Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...,₹497
1,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹497
2,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹289
3,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
4,Layasa,Sneakers For Men,₹296
...,...,...,...
95,PUMA,Sneakers For Men,"₹1,198"
96,SOLETHREADS REBEL,Sneakers For Men,₹989
97,SOLETHREADS REBEL,Sneakers For Women,"₹1,239"
98,Deals4you,MOORE 3.0 Sneakers For Men,₹409
99,U.S. POLO ASSN.,Casual Premium Ankle Length Black Denim Boots ...,"₹1,719"

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [1037]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [1038]:
quote=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
quote.send_keys('TOP QUOTES')
quote.click()

In [1039]:
Quote=[]
Author=[]
Type=[]

In [1040]:
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for p in quote_tag:
        Quote.append(p.text)
        
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for q in author_tag:
        Author.append(q.text)
        
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')   
    for r in type_tag:
        Type.append(r.text)

In [1041]:
print(len(brand),len(product),len(price))

100 100 100

In [1042]:
df=pd.DataFrame({'Quote':Quote,'Author':Author,'Type of Quotes':Quote})
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,The essence of strategy is choosing what not t...
1,One cannot and must not try to erase the past ...,Golda Meir,One cannot and must not try to erase the past ...
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,Patriotism means to stand by the country. It d...
3,Death is something inevitable. When a man has ...,Nelson Mandela,Death is something inevitable. When a man has ...
4,You have to love a nation that celebrates its ...,Erma Bombeck,You have to love a nation that celebrates its ...
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"When the going gets weird, the weird turn pro."
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,When a train goes through a tunnel and it gets...
97,If you think you are too small to make a diffe...,Dalai Lama,If you think you are too small to make a diffe...
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"God doesn't require us to succeed, he only req..."
99,Change your thoughts and you change your world.,Norman Vincent Peale,Change your thoughts and you change your world.

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [21]:
driver = webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [22]:
gk_option=driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a")
gk_option.send_keys('GK')
gk_option.click()

In [23]:
list_pm_option=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
list_pm_option.send_keys('List of all Prime Ministers of India')
list_pm_option.click()

In [41]:
data = []
table_rows = driver.find_elements(By.XPATH,'//div[@class,"table-box")]/tbody/tr')
for row in table_rows[1:]:
  cols = row.find_elements(By.TAG_NAME,'td')
  if len(cols) == 4:
          name = cols[0].text.strip()
          born_dead = cols[1].text.strip()
          term_of_office = cols[2].text.strip()
          remarks = cols[3].text.strip()
          data.append({'Name':name, 'Born-Dead':born_dead, 'Term of Office':term_of_office, 'Remarks':remarks})

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //div[@class,"table-box")]/tbody/tr because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//div[@class,"table-box")]/tbody/tr' is not a valid XPath expression.
  (Session info: chrome=118.0.5993.118); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#invalid-selector-exception
Stacktrace:
	GetHandleVerifier [0x00007FF621118EF2+54786]
	(No symbol) [0x00007FF621085612]
	(No symbol) [0x00007FF620F3A64B]
	(No symbol) [0x00007FF620F3F116]
	(No symbol) [0x00007FF620F4115F]
	(No symbol) [0x00007FF620F41250]
	(No symbol) [0x00007FF620F7B424]
	(No symbol) [0x00007FF620F7B91C]
	(No symbol) [0x00007FF620FB6DB7]
	(No symbol) [0x00007FF620F9BEAF]
	(No symbol) [0x00007FF620FB4D02]
	(No symbol) [0x00007FF620F9BC43]
	(No symbol) [0x00007FF620F70941]
	(No symbol) [0x00007FF620F71B84]
	GetHandleVerifier [0x00007FF621467F52+3524194]
	GetHandleVerifier [0x00007FF6214BD800+3874576]
	GetHandleVerifier [0x00007FF6214B5D7F+3843215]
	GetHandleVerifier [0x00007FF6211B5086+694166]
	(No symbol) [0x00007FF621090A88]
	(No symbol) [0x00007FF62108CA94]
	(No symbol) [0x00007FF62108CBC2]
	(No symbol) [0x00007FF62107CC83]
	BaseThreadInitThunk [0x00007FFEE32B4034+20]
	RtlUserThreadStart [0x00007FFEE58B3691+33]

In [38]:
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: []
Index: []

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [55]:
driver = webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [56]:
search_cars=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
search_cars.send_keys('50 most expensive cars')

In [57]:
result=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
result.click()

In [60]:
list_cars=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div/div/div[1]/h3/a")
list_cars.click()

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=118.0.5993.118)
Stacktrace:
	GetHandleVerifier [0x00007FF621118EF2+54786]
	(No symbol) [0x00007FF621085612]
	(No symbol) [0x00007FF620F3A64B]
	(No symbol) [0x00007FF620F1A9F5]
	(No symbol) [0x00007FF620FA0887]
	(No symbol) [0x00007FF620FB43CF]
	(No symbol) [0x00007FF620F9BC43]
	(No symbol) [0x00007FF620F70941]
	(No symbol) [0x00007FF620F71B84]
	GetHandleVerifier [0x00007FF621467F52+3524194]
	GetHandleVerifier [0x00007FF6214BD800+3874576]
	GetHandleVerifier [0x00007FF6214B5D7F+3843215]
	GetHandleVerifier [0x00007FF6211B5086+694166]
	(No symbol) [0x00007FF621090A88]
	(No symbol) [0x00007FF62108CA94]
	(No symbol) [0x00007FF62108CBC2]
	(No symbol) [0x00007FF62107CC83]
	BaseThreadInitThunk [0x00007FFEE32B4034+20]
	RtlUserThreadStart [0x00007FFEE58B3691+33]

In [62]:
#Result:The content you are looking for doesn't exist yet. To continue, try other site section.

In [64]:
#Thankyou